@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <div class="col-lg-4">
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        <a href="@Url.Action("Index", "Employees")">Employee</a>
                    </span>
                    <span class="info-box-number">1,410</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        <a href="@Url.Action("Index", "Overtimes")">Overtime</a>
                    </span>
                    <span class="info-box-number">1,410</span>
                </div>
            </div>
        </div>
    </div>
</main>