@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <div class="col-md-3">
            <a href="@Url.Action("Index", "Employees")" class="dashboard-tile tile-blue">
                Employee
            </a>
        </div>
        <div class="col-md-3">
            <a href="@Url.Action("Index", "Overtimes")" class="dashboard-tile tile-green">
                Overtime
            </a>
        </div>
    </div>
</main>